# use glob syntax.
syntax: glob

# Ignore automatically created files
*~
*.backup
*.aux
*.gnuplot
*.gui
*.kilepr
*.kate-swp
*.listing
*.log
*.nav
*.old
*.out
*.pdf
*.snm
*.table
*.toc
*.zip
*./kile

# Ignore the _ignore directorys
**/_ignore/

# Ignore the _old directorys
**/_old/

# Ignore the build directorys
**/dist/
**/dist_x/
**/dist_j/
**/html/
